@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

nav {
  display: flex;
  gap: 12px;
  p {
    color: white;
    font-weight: 100;
    font-family: "Open Sans", serif;
    cursor: pointer;
    &:hover {
      color: #ff6b34;
      transition: 0.4s;
    }
  }
}
