<h1><span>*</span>{{ projectName }}</h1>
<p>
  here are some of the projects i've worked on. i love building tools that make
  developers' lives easier and exploring new technologies along the way.P.S site
  might have 30-35s cold start
</p>
<main>
  <app-projects
    *ngFor="let items of shared.allProjects"
    [project]="items"
  ></app-projects>
</main>

<p>
  I successfully secured financing for the PCAP (Python Certified Associate
  <br />
  Programmer) exam after passing the internal assessments of the "Do It in
  <br />
  Georgia" government project—an international certification training program
  <br />
  that selected only 1,000 participants from 15,000 applicants. I went on to
  <br />
  pass the PCAP exam with a score of 80%. confirmation
  <a href="https://verify.openedg.org/?id=iBxP.reSD.kJmG" target="_blank"></a>
</p>
