@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");
h1 {
  color: white;
  font-family: "Geist Mono", monospace;
  span {
    color: #ff6b34;
    padding-right: 10px;
  }
}
p {
  color: white;
  font-family: "Geist Mono", monospace;
  font-weight: 100;
  letter-spacing: 1.4px;
  line-height: 25px;
  opacity: 0.8;
}
main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
