<main>
  <div>
    <h2>Otari Nozadze</h2>
    <div class="staying">
      <i class="fa-solid fa-location-dot"></i>
      <p>Georgia, Kutaisi</p>
    </div>
    <article>
      <p>
        I'm a 23 y/o passionate developer. I love building things and solving
        problems. I've completed a 6-month front-end course at Step Academy
        where I learned Angular, and I've also studied Node.js and Express,
        mastering the creation of REST APIs. I enjoy language design, web
        development. If I'm not coding, I'm probably Working Out, or watching
        movies. P.S My Projects Might have initial Cold Start about 20-30s.
      </p>
      <section>
        <h1>PROJECTS</h1>
        <a href="https://step-project-hotel-aa21.vercel.app" target="_blank">
          Hotel Booking Site
        </a>
        <p class="projectExplaning">
          This project was completed after a 6-month Front-End course at Step
          Academy. It uses the academy's servers and REST APIs to showcase my
          front-end skills.
        </p>
        <a href="https://films-site-murex.vercel.app" target="_blank">
          Film Site
        </a>
        <p class="projectExplaning">
          This site features full authorization, bookmarking, and search
          systems. The backend is built with Node.js, Express, and
          MongoDB/Mongoose.
        </p>
        <a href="https://github.com/otari3" target="_blank"
          >all projects <i class="fa-solid fa-arrow-right"></i
        ></a>
      </section>
    </article>
  </div>
</main>
